<div class="footer__container">
    <div class="listas__container">
        <ul class="footer__lista">
            <li>
                <a href="#" class="footer__lista--item">Suport</a>
            </li>
            <li>
                <a href="#" class="footer__lista--item">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="footer__lista--item">Do Not Share My Personal Information</a>
            </li>
            <li>
                <a href="#" class="footer__lista--item">Website Terms of Use</a>
            </li>
            <li>
                <a href="#" class="footer__lista--item">Sitemap</a>
            </li>
            <li>
                <a href="#" class="footer__lista--item">PlayStation Studios</a>
            </li>
            <li>
                <a href="#" class="footer__lista--item">Legal</a>
            </li>
            <li>
                <a href="#" class="footer__lista--item">About SIE</a>
            </li>
        </ul>
        <ul class="footer__lista">
            <li>
                <a href="#" class="footer__lista--item">PSN Terms of Service</a>
            </li>
            <li>
                <a href="#" class="footer__lista--item">PS Store Cancellation Policy</a>
            </li>
            <li>
                <a href="#" class="footer__lista--item">Health Warnings</a>
            </li>
            <li>
                <a href="#" class="footer__lista--item">About Ratings</a>
            </li>
            
        </ul>

        <ul class="footer__lista">
            <li>
                <a href="#" class="footer__lista--item">Facebook</a>
            </li>
            <li>
                <a href="#" class="footer__lista--item">YouTube</a>
            </li>
            <li>
                <a href="#" class="footer__lista--item">Instagram</a>
            </li>
            <li>
                <a href="#" class="footer__lista--item">Android App</a>
            </li>
            <li>
                <a href="#" class="footer__lista--item">iOS App</a>
            </li>
            
        </ul>
    </div>
    <div class="footer__links">
        <h2 class="footer__text">Developed by: Natan Vieira</h2>
        <a class="footer__link" href="https://linkedin.com/in/natanvieiradev">| Linkedin |</a>
        <a class="footer__link" href="https://github.com/natanstark">| Github |</a>
    </div>
</div>
