.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 5px #FFFFFF;
    margin-bottom: 20px;
}

.listas__container{
    display: flex;
    justify-content: space-around;
    
}

.footer__lista{
    list-style: none;
    margin-top: 50px;
}

.footer__lista>li{
    padding-top: 20px;
}

.footer__lista--item{
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-right: 400px;
    
    
}

.footer__text{
    margin-top: 10px;
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer__lista--item:hover{
    color:#12009e;
}

.footer__link{
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
    
}

.footer__link:hover{
    font-weight: bold;
    color:#12009e;
}

.footer__links{
    display: flex;
    align-items: baseline;
    justify-content: center;
}