<div class="container">

    <div class="banner-highlight__container">

            <img class="banner-highlight__image" 
            [src]="[bannerImage]" 
            alt="Banner image">
        
    
    </div>

    <div class="pre-order__container">

        <div class="banner-text">
    
        <h2 class="title-banner__container">
           {{titleBanner}}
        </h2>

        <p class="text-banner__container">
            {{textBanner}}
        </p>

        </div>
    
        <a href="#" class="pre-order__button" >
            {{buttonBannerText}}
        </a>
    </div>


</div>
    
