<div class="container">

<a href="#" class="main-banner__container">
    
     <div class="image__container">
            <img class="main-banner__image1" 
            [src]="[bannerImage1]" 
            alt="Banner image">
        
            <img class="main-banner__image2" 
            [src]="[bannerImage2]" 
            alt="Banner image">
    </div>    

</a>
</div>

<div class="pre-order__container">

    <h2 class="title-banner__container">
       {{titleBanner}}
    </h2>

    <a href="#" class="pre-order__button" >
        {{buttonBannerText}}
    </a>
</div>