<div class="home__container">

<div class="home__banner">

    <app-main-banner
    bannerImage1="assets/main-banner/main-banner-image-1.png"
    bannerImage2="assets/main-banner/main-banner-image-2.png"
    titleBanner="Marvel's Spider Man 2"
    buttonBannerText="Buy Now"
    ></app-main-banner>

</div>

<span></span>

    <div class="home__content">
        <app-card
        gameCover="assets/game-covers/the-crew-motorfest.png"
        gameLabel="STANDARD EDITION"
        gameType="Digital PS4"
        gamePrice="$47.99"
        ></app-card>   

        <app-card
        gameCover="assets/game-covers/spider-man-2.jpg"
        gameLabel="EXCLUSIVE"
        gameType="Digital PS4 | PS5"
        gamePrice="$59.99"
        ></app-card>     

        <app-card
        gameCover="assets/game-covers/fc-24.png"
        gameLabel="STANDARD EDITION"
        gameType="Digital PS4 | PS5"
        gamePrice="$69.99"
        ></app-card>

        
        <app-card
        gameCover="assets/game-covers/nba-2k24.png"
        gameLabel="KOBE BRIANT EDITION"
        gameType="Digital PS5"
        gamePrice="$69.99"
        ></app-card>        

        <app-card
        gameCover="assets/game-covers/football-manager-2024-console.png"
        gameLabel="STANDARD EDITION"
        gameType="Digital PS5"
        gamePrice="$59.99"
        ></app-card>

        <app-card
        gameCover="assets/game-covers/wrc.png"
        gameLabel="STANDARD EDITION"
        gameType="Digital PS5"
        gamePrice="$49.99"
        ></app-card>
        
    </div>
    <app-home-banner-highlight
        bannerImage= "assets/play-stars.png"
        titleBanner="PlayStation Stars"
        textBanner="Enroll for free, complete campaigns and earn rewards"
        buttonBannerText="Learn More"
    ></app-home-banner-highlight>

    <span></span>

    <div class="see-more">
        <p class="see-more__title">See More</p>
    
        <div class="see-more__banners">
            
            <app-see-more-banner
            seeMoreImage="assets/see-more/see-more-ps5-games.png"
            ></app-see-more-banner>
            <app-see-more-banner
            seeMoreImage="assets/see-more/see-more-ps4-games.png"
            ></app-see-more-banner>
            <app-see-more-banner
            seeMoreImage="assets/see-more/see-more-all-deals.png"
            ></app-see-more-banner>
            <app-see-more-banner
            seeMoreImage="assets/see-more/see-more-add-ons.png"
            ></app-see-more-banner>
            <app-see-more-banner
            seeMoreImage="assets/see-more/see-more-free-to-play.png"
            ></app-see-more-banner>
            <app-see-more-banner
            seeMoreImage="assets/see-more/see-more-vr.png"
            ></app-see-more-banner>
            <app-see-more-banner
            seeMoreImage="assets/see-more/see-more-ps-plus.png"
            ></app-see-more-banner>
            <app-see-more-banner
            seeMoreImage="assets/see-more/see-more-ps-vr2.png"
            ></app-see-more-banner>
            
        </div>
    </div>




</div>
