<div class="home__container">

<div class="home__banner">

    <app-main-banner
    bannerImage1="https://image.api.playstation.com/pr/bam-art/164/410/42b9e213-e70d-4f43-ad89-0b127ec1f8d4.png?w=440&thumb=false"
    bannerImage2="https://image.api.playstation.com/pr/bam-art/164/410/039280bc-b206-4b12-be28-dd27389a21ec.png?w=620&thumb=false"
    titleBanner="Marvel's Spider Man 2"
    buttonBannerText="Buy Now"
    ></app-main-banner>

</div>

<span></span>

    <div class="home__content">
        <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/2315/607d9ed1ac762c9de33ef73fd09b3431d0b96ef4985ac2fb.png"
        gameLabel="STANDARD EDITION"
        gameType="Digital PS4"
        gamePrice="$47.99"
        ></app-card>   

        <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202011/0402/C784xeOFo2wViCf4m5bxgoeH.png"
        gameLabel="EXCLUSIVE"
        gameType="Digital PS4 | PS5"
        gamePrice="$59.99"
        ></app-card>     

        <app-card
        gameCover="https://image.api.playstation.com/pr/bam-art/164/530/89d26d21-78bf-43bc-83c4-114a2b2ef9cc.jpg?w=440&thumb=false"
        gameLabel="STANDARD EDITION"
        gameType="Digital PS4 | PS5"
        gamePrice="$69.99"
        ></app-card>

        
        <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202306/2609/278035a1f94e3a07d4d0f74cd61b987af14a833b65a56cd2.png?w=440&thumb=false"
        gameLabel="KOBE BRIANT EDITION"
        gameType="Digital PS5"
        gamePrice="$69.99"
        ></app-card>        

        <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202307/2515/700f43b7c40940cd091b7871dfa35098b1743fc23262949e.png?w=440&thumb=false"
        gameLabel="STANDARD EDITION"
        gameType="Digital PS5"
        gamePrice="$59.99"
        ></app-card>

        <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202310/2017/8a82705c49371fd0d03d4323d3e2b55b27581b407a551cb8.png?w=440&thumb=false"
        gameLabel="STANDARD EDITION"
        gameType="Digital PS5"
        gamePrice="$49.99"
        ></app-card>
        
    </div>
    <app-home-banner-highlight
        bannerImage= "assets/play-stars.png"
        titleBanner="PlayStation Stars"
        textBanner="Enroll for free, complete campaigns and earn rewards"
        buttonBannerText="Learn More"
    ></app-home-banner-highlight>

    <span></span>

    <div class="see-more">
        <p class="see-more__title">See More</p>
    
        <div class="see-more__banners">
            
            <app-see-more-banner
            seeMoreImage="assets/see-more/see-more-ps5-games.png"
            ></app-see-more-banner>
            <app-see-more-banner
            seeMoreImage="assets/see-more/see-more-ps4-games.png"
            ></app-see-more-banner>
            <app-see-more-banner
            seeMoreImage="assets/see-more/see-more-all-deals.png"
            ></app-see-more-banner>
            <app-see-more-banner
            seeMoreImage="assets/see-more/see-more-add-ons.png"
            ></app-see-more-banner>
            <app-see-more-banner
            seeMoreImage="assets/see-more/see-more-free-to-play.png"
            ></app-see-more-banner>
            <app-see-more-banner
            seeMoreImage="assets/see-more/see-more-vr.png"
            ></app-see-more-banner>
            <app-see-more-banner
            seeMoreImage="assets/see-more/see-more-ps-plus.png"
            ></app-see-more-banner>
            <app-see-more-banner
            seeMoreImage="assets/see-more/see-more-ps-vr2.png"
            ></app-see-more-banner>
            
        </div>
    </div>




</div>
