
<div class="home__container">
    <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202011/0402/C784xeOFo2wViCf4m5bxgoeH.png"
    gameLabel="EXCLUSIVE"
    gameType="Digital PS4 | PS5"
    gamePrice="$59.99"
    ></app-card>

    <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/2315/607d9ed1ac762c9de33ef73fd09b3431d0b96ef4985ac2fb.png"
    gameLabel="STANDARD EDITION"
    gameType="Digital PS4"
    gamePrice="$47.99"
    ></app-card>

    <app-card
    gameCover="https://image.api.playstation.com/pr/bam-art/164/530/89d26d21-78bf-43bc-83c4-114a2b2ef9cc.jpg?w=440&thumb=false"
    gameLabel="STANDARD EDITION"
    gameType="Digital PS4 | PS5"
    gamePrice="$69.99"
    ></app-card>
</div>

