<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img 
        src="assets/ps-logo.png" 
        alt="Logo da playstation store"
        width="140px"
        height="32px"
        >
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="#">Latest</a></li>

            <li><a href="#">Collections</a></li>

            <li><a href="#">Deals</a></li>

            <li><a href="#">Subscriptions</a></li>

            <li><a href="#">Browse</a></li>
            
        </ul>
    </div>
</div>