/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: rgb(0,104,231);
    background: radial-gradient(circle, rgba(0,104,231,1) 54%, rgba(18,0,158,1) 100%);
}